* {
  box-sizing: border-box;
}

input , textarea , select {
  /* 入力欄にフォーカスが当たっても拡大しない */
  font-size: 17px;
  }

body {
  max-width: 375px;
  margin: 0;
  color: #555;
  background-color: #eee;
}

.wrapper {
  width: 375px;
  margin: 0;
  padding: 10px;
  background-color: lightsteelblue;
  height: 812px;
  position: relative;
}

.container {
  width: 350px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  background-color: #fff;
}

#questionArea {
  font-size: 20px;
}

#errorMessage {
  color: indianred;
}

#playersAnswer {
  padding: 20px;
  outline: none;
  border: none;
  color: #333;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

#answerButton {
  padding: 17px;
  border: none;
  color: #333;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.result {
  margin-bottom: 10px;
  padding: 10px;
}

#correct {
  text-align: center;
  border-radius: 3px;
}

.correct {
  background: salmon;
}

.unCorrect {
  background: lightblue;
}

#unCorrect {
  text-align: center;
  border-radius: 3px;
}

.nextQuizButton {
  padding: 10px;
  outline: none;
  border: none;
  color: #333;
  margin-right: 0;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
  display: inline-block;
}

#showAnswerButton {
  padding: 10px;
  border: none;
  color: #333;
  cursor: pointer;
  width: 100%;
  margin-top: 3px;
  display: inline-block;
}

.hide {
  display: none;
}

#maritozzo {
  right: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
  transition: .5s;
  position: absolute;
  background-size: cover;
  background-image: url('maritozzo.png');
}